<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "Aplicacion Web de NBA"
    "AW-NBA">
 
<hibernate-configuration>
  <session-factory name="java:hibernate/SessionFactory">
     <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
     <property name="connection.url">jdbc:mysql://mysql.lab.it.uc3m.es:3306/17_appweb_10d</property>
     <property name="connection.username">17_appweb_10</property>
     <property name="connection.password">02V,b8b1</property>
     <property name="connection.pool_size">5</property>
     <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
     <property name="show_sql">true</property>
     <!-- <mapping class="webapp.Entities.League"/>
     <mapping class="webapp.Entities.Lineup"/>
     <mapping class="webapp.Entities.Player"/>
     <mapping class="webapp.Entities.Status"/>
     <mapping class="webapp.Entities.Team"/>
     <mapping class="webapp.Entities.User"/>
     <mapping class="webapp.Entities.Week"/> -->
  </session-factory>
</hibernate-configuration>

        
      
